# backend
backend/node_modules/
backend/coverage/
backend/dist/
backend/.env

# frontend
frontend/node_modules/
frontend/dist/
frontend/build/

# logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Postman

# DBConnection
DBConnection.txt